.fave {
  width: 70px;
  height: 50px;
  background: url(images/twitter_fave.png) no-repeat;
  background-position: 0 0;
}

.fave:hover {
  background-position: -3519px 0;
  transition: background 1s steps(55);
}