.container {
  height: 100%;
  padding: 52px;
  border: 1px solid #e4e4e4;
  background: hsl(201, 80%, 46%);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

h1 {
  animation: fadeOut 2s ease;
  /* By using animation-fill-mode: forwards; we can get the element to stay faded out by retaining the styles in the final keyframe:   */
  animation-fill-mode: forwards;

}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}